//- Displays when a bad url is entered, such as '/bookserror'.

extends layout

block content
  div(class="pageNotFound")
    h1= error
    p Sorry, that url does not exist.
    p
      a(href="/") ← Books

