extends layout

block content
  section
    form(action="/books/search" method="post")
      input(type="search" name="searchTerm" placeholder="Search for something...")
      input(type="submit", value="SEARCH")

